body 
.first-page, 
.second-page, 
.third-page, 
footer {
    padding: 0 320px; /* 양쪽 320px 여백 */
    display: block;
    justify-content: center;
    align-items: center;
}

/* header css */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 320px; /* 양쪽 320px 패딩 */
    background-color: rgba(242, 233, 216, 1);
}

.logoimage {
    margin-right: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
}

.nav-elements {
    display: flex;
    cursor: pointer;
    gap: 20px;
}

.nav-download {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(233, 124, 0);
    color: white;
    text-decoration: none;
    border-radius: 40px;
}

/* first-page css */
.first-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(242, 233, 216, 1);
}

.first-page .text-box {
    max-width: 500px;
}

.first-page h2 {
    font-size: 36px;
    color: rgb(51, 51, 51);
    margin-bottom: 20px;
}

.first-page p {
    font-size: 16px;
    color: rgb(85, 85, 85);
    margin-bottom: 20px;
}

.first-page-download {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(233, 124, 0);
    color: white;
    text-decoration: none;
    border-radius: 40px;
}
