@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.mobile-menu,
.mobile-icon,
.mobile-contact {
    display: none;
}

body {
    font-family: "Pretendard-Regular";
    max-width: 1920px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* header css */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
    background-color: rgba(242, 233, 216, 1);
    width: 100%;
    height: 102px;
    display: flex;
    justify-content: center;
}

/* nav css */
.nav-logo {
    width: 130px;
    height: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.nav-elements {
    display: flex;
    max-width: 345px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    gap: 30px;
}

.nav-download {
    width: 140px;
    height: 50px;
    background-color: rgba(217, 118, 82, 1);
    color: white;
    text-decoration: none;
    align-self: center;
    text-align: center;
    line-height: 50px;
    border-radius: 40px;
}

/* First Page Styles */
.first-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(242, 233, 216, 1);
    width: 100vw;
    height: 900px;
    margin: 0 auto;
    padding: 0 160px;
    box-sizing: border-box;
    position: relative;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    height: 100%;
}

.text-box-wrapper {
    max-width: 695px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-box {
    text-align: left;
}

.text-box .h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 30px;
}

.text-box .p2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    max-width: 420px;
}

.first-page-download {
    display: inline-block;
    background-color: rgba(217, 118, 82, 1);
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    border-radius: 40px;
}

.image-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
    position: absolute;
    bottom: 0;
    right: 320px;
}

.box-hodu {
    width: 415px;
    height: auto;
    max-height: 766px;
}


/* Second Page */
.second-page-1st-block {
    display: flex;
    text-align: center;
    align-items: center;
}

.second-page img {
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 70px;
}

.lying-cat {
    width: 660px;
    height: 390px;
    margin-bottom: 70px;
}

.second-page-1st-text {
    width: 510px;
    margin: 70px 0px 70px 100px;
    text-align: left;
    align-items: center;
    
}

.second-page-1st-text h3 {
    font-size: 36px;
    font-weight: 700;
    max-width: 510px;
    margin-bottom: 40px;
}

.second-page-1st-text p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.second-page-2nd-block {
    align-self: center;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.second-page-2nd-block h3 {
    color: rgb(217, 118, 82);
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 40px;
}

.second-page-2nd-block p {
    font-weight: 700;
    line-height: 20px;
}

.second-page-3rd-block-img1 img,
.second-page-3rd-block-img2 img {
    width: 378px;
    height: 378px;
}

.second-page-3rd-block-img1 {
    display: flex;
    justify-content: space-between;
}

.second-page-3rd-block-img2 {
    display: flex;
    justify-content: space-between;
}

.second-page-4th-block {
    margin: 80px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.second-page-4th-block h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 30px;
}

.second-page-4th-block a {
    display: inline-block;
    width: 143px;
    height: 50px;
    background-color: rgba(217, 118, 82, 1);
    color: white;
    text-decoration: none;
    align-self: center;
    text-align: center;
    line-height: 50px;
    border-radius: 40px;
}

/* Third-Page */
.third-page {
    text-align: left;
}

.third-page h3 {
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
    margin-top: 70px;
}

.third-page p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}

.third-page iframe {
    border-radius: 12px;
}

/* Floating-Box */
.floating-box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1280px;
    height: 200px;
    background-color: rgba(38, 49, 64, 1); 
    border-radius: 30px;
    z-index: 100;
    top: -100px;
    padding: 0 60px;
    box-sizing: border-box;
}

.floating-box-text {
    align-items: center;
    text-align: left;
}

.floating-box-text h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    color: white;
    margin-bottom: 20px;
}

.floating-box-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(242, 233, 216, 1);
    
}

.floating-box-input {
    width: 100%;
    max-width: 530px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 60px;
    padding: 0 5px;
    box-sizing: border-box;
}

.floating-box-input img {
    color: rgba(118, 118, 118, 1);
    width: 24px;
    height: 24px;
    margin-left: 25px;
}

.floating-box-email {
    border: none;
    outline: none;
    width: 100%;
    border-radius: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 5px;
}

.floating-box-submit {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    width: 100%;
    text-align: center;
    max-width: 135px;
    height: 50px;
    background-color: rgba(217, 118, 82, 1);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
}


/*//////////////////////////////////////////*/
/* Modal CSS */
.modal {
    display: none;
    position: absolute;
    z-index: 200;
    width: 100%;
    max-width: 600px;
    height: 400px;
    background-image: url(./mbk.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    left: 50%;
    transform: translate(-50%,-10%);
    top: -50%;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
}

.modal-cat {
    width: 110px;
    height: 112px;
    margin-top: 65px;
}

.modal-content h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    color: rgba(217, 118, 82, 1);
    margin-top: 20px;
}

.modal-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(0, 0, 0, 1);
    margin-top: 15px;
}

.modal-button {
    background-color: rgba(217, 118, 82, 1);
    width: 183px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 15px, 29px, 15px, 29px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

/*//////////////////////////////////////////*/

/* Top Button */
.upbutton {
    width: 50px;
    height: 50px;
    z-index: 300;
    background-color: white;
    border: 2px solid rgba(196, 196, 196, 1);
    border-radius: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}

.upbutton:hover {
    content: url('./upbtn_hover.png');
}

.upbutton-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.upbutton img {
    width: 20px;
    height: 12.35px;
    transition: opacity 0.3s ease;
    /* 부드러운 전환 효과 */
}

.show-upbutton {
    display: flex;
}

.upbutton.fixed {
    position: fixed;
}

.upbutton.absolute {
    position:absolute;
    bottom: 30px;
}

/* Background-Image */
.last-picture {
    margin-top: 200px;
    background-image: url(./img_7.png);
    width: 1920px;
    height: 340px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Footer */
footer {
    width: 100vw;
    height: 160px;
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.footer-logo {
    width: 226px;
    height: 70px;
}

.footer-icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: rgba(242, 157, 82, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon img {
    width: 24px;
    height: 24px;
}

.mobile-menu,
.menu-icon {
    display: none;
}

/* ///////////////////// */
/* 모바일 화면 CSS */
@media screen and (max-width: 768px) {

    .menu-icon,
    .mobile-contact {
        display: block;
    }
    .nav-right,
    .upbutton {
        display: none;
    }

    .text-box {
        text-align: center;
    }

    /* 모바일 메뉴 */
    .mobile-menu {
        position: fixed;
        top: 0;
        right: -300px;
        width: 289px;
        height: 100%;
        background-color: rgba(38, 49, 64, 1);
        transition: right 0.3s ease;
        z-index: 1001;
        padding-top: 60px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 30px;
    }

    .mobile-menu.open {
        right: 0;
    }

    .mobile-nav-elements {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        margin-left: 30px;
        margin-top: 30px;
    }

    .mobile-nav-elements a {
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        margin: 15px 0;
        text-decoration: none;
        display: block;
    }

    .mobile-nav-download {
        width: 100%;
        height: 100%;
        max-width: 114px;
        max-height: 40px;
        background-color: rgba(217, 118, 82, 1);
        color: rgba(255, 255, 255, 1);
        padding: 10px 12px;
        border-radius: 40px;
        text-align: center;
        margin-top: 25px !important;
        margin-left: -10px !important;
    }

    #menu-icon {
        position: absolute;
        top: 20px;
        left: 20px;
        display: block;
        width: 32px;
        height: 32px;
        cursor: pointer;
        align-self: flex-start;
    }

    .nav-right {
        display: none;
    }

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 390px;
        box-sizing: border-box;
    }

    header {
        position: fixed;
        z-index: 1000;
        background-color: rgba(242, 233, 216, 1);
        width: 100%;
        max-width: 390px;
        height: 76px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        box-sizing: border-box;
    }

    /* 첫 번째 페이지 CSS */
    .first-page {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;
        box-sizing: border-box;
        background-color: rgba(242, 233, 216, 1);
    }

    .content-wrapper {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-top: 136px;
    }

    .text-box-wrapper {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .text-box .h1 {
        width: 251px;
        height: auto;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .text-box .p2 {
        width: 251px;
        height: auto;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: center; 
        margin-bottom: 40px;
    }

    .first-page-download a{
        display: block;
        width: 114px;
        height: 40px;
        font-size: 14px;
        font-weight: 700;
        background-color: rgba(217, 118, 82, 1);
        color: white;
        text-decoration: none;
        text-align: center;
        border-radius: 40px;
    }

    .image-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 197px;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }

    .box-hodu {
        width: auto;
        height: 422px;
    }

    /* 두번째 페이지 CSS */
    .second-page {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 390px;
        padding: 0; 
        box-sizing: border-box;
    }

    .second-page-1st-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    /* 첫번째 텍스트 상자 */
    .second-page-1st-text {
        width: 326px;
        text-align: left;
        padding-left: 0;
        margin-left: 0;
        margin-top: 0;
    }

    .second-page-1st-text h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
    }

    .second-page-1st-text p {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: -50px;
        margin-top: -20px;
    }

    .second-page img {
        display: block;
        width: 326px;
        height: auto; 
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
        border-radius: 18px; 
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .second-page-2nd-block {
        width: 100%;
        max-width: 326px;
        margin: 40px auto;
        text-align: center;
        margin-bottom: 10px;
    }

    /* 두번째 텍스트 상자 */
    .second-page-2nd-block h3, .second-page-2nd-block p {
        font-size: 24px;
        font-weight: 700;
        line-height: 20px;
        color: rgb(233, 124, 0);
    }

    .second-page-2nd-block p {
        font-size: 16px;
        font-weight: 700;
        color: black;
        line-height: 20px;
    }

    .second-page-3rd-block-img1, 
    .second-page-3rd-block-img2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .second-page-3rd-block-img1 img, 
    .second-page-3rd-block-img2 img {
        width: 326px;
        height: 326px;
        margin-bottom: 10px;
    }

    .second-page-4th-block {
        text-align: center;
        margin: 40px auto;
    }
    
    .second-page-4th-block h5 {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }

    .second-page-4th-block a {
        margin-bottom: 20px;
    }
    
    /* 세번째 페이지 */
    .third-page {
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 390px;
        padding: 0; 
        box-sizing: border-box;
    }

    .third-page-hr {
        width: 326px;
        margin: 0 auto;
    }

    .third-page h3 {
        text-align: left;
        width: 175px;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin-top: 40px;
    }

    .third-page p {
        text-align: left;
        width: 326px;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 30px;
    }

    .third-page p, 
    .third-page h3,
    .third-page iframe {
        margin-left: 30px;
    }

    .third-page iframe {
        display: block;
        position: relative;
        width: 326px;
        height: 132px;
        margin-bottom: 70px;
    }

    /* 배경사진 부분*/
    .last-picture {
        margin-top: 200px;
        background-image: url(./img_7.png);
        width: 390px;
        height: 348px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }


    /* 플로팅 박스 부분 */
    .floating-box {
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translate(-50%, -50%); 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        width: 326px;
        height: 348px;
        padding: 30px;
    }

    .floating-box h3 {
        width: 187px;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .floating-box p {
        width: 262px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
    }

    .floating-box-input {
        position: relative;
        width: 262px;
        height: 40px;
        margin-bottom: 60px;
    }

    .floating-box img {
        position: absolute;
        width: 18px;
        height: 18px;
        margin: 0;
        margin-left: 10px;
    }

    .floating-box-email {
        position: relative;
        left: 34px;
        width: 144px;
        height: 16px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
    
    .floating-box-submit {
        position: absolute;
        right: 0;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
        width: 115px;
        height: 40px;
        padding: 8px 16px;
        background-color: rgba(217, 118, 82, 1);
        color: white;
        border-radius: 40px;
        cursor: pointer;
        margin-top: 130px;
    }

    /* 모달 부분 */
    .modal {
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 300px;
        z-index: 200;
        background-image: url(./mbk.png);
        background-repeat: no-repeat;
        background-size: 300px 200px;
        background-color: rgba(242, 233, 216, 1);
        align-items: center;
        text-align: center;
        border-radius: 30px;
    }

    .modal-cat {
        width: 60px;
        height: 62px;
        margin-top: 10px;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    
    .modal-content h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        color: rgba(217, 118, 82, 1);
        margin-top: 20px;
    }
    
    .modal-content p {
        width: 189px;
        height: 36px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: rgba(0, 0, 0, 1);
        margin-top: 10px;
    }
    
    .modal-button {
        background-color: rgba(217, 118, 82, 1);
        width: 158px;
        height: 40px;
        color: white;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        padding: 15px, 29px, 15px, 29px;
        border: none;
        border-radius: 40px;
        cursor: pointer;
        margin-top: 30px;
    }


    /* 푸터 부분 */
    footer {
        width: 100%;
        max-width: 390px;
        max-height: 178px;
        padding-left: 20px;
    }

    .footer-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 30px;
        top: -20px;
    }

    .footer-logo {
        position: relative;
        width: 112px;
        height: 34px;
        left: 0;
        top: 0;
    }

    .footer-right {
        display: flex;
        justify-content: space-between;
        width: auto;
        max-width: 176px;
        height: 32px;
        gap: 15px;
    }

    .footer-icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        background-color: rgba(242, 157, 82, 1);
        box-sizing: border-box;
    }

    .footer-icon img {
        width: 18.29px;
        height: 18.29px;
    }

    .mobile-contact {
        display: flex;
        flex-flow: column;
        text-align: right;
        position: absolute;
        right: 0;
        margin-right: 20px;
        width: 84px;
        height: 120px;
        color: rgba(118, 118, 118, 1);
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        gap: 20px;
    }
}