
/* 

    - * {} => 요소 전체에 적용하는 Universal Selector

    - h2(특정 태그) {} => 특정 태그 전체에 적용. (현재의 코드에서는 h2 속성에만 적용한다는 의미)
      중복 사용도 가능

    - .클래스 {} => 특정 클래스에 해당되는 요소에 대해 적용

    - 특정 태그.클래스 {} => 특정 클래스가 명시된 특정 태그에 대해 적용
        ex) h2.coding

    - #특정 아이디 {} => 특정 아이디에 해당되는 요소에 대해 적용

    - 특정 클래스#특정 아이디 {} => 특정 아이디가 명시된 특정 태그에 대해 적용

    - ex) div p {} => 부모 요소 내의 특정 자식 요소




*/

* {
    color: brown;
}

h2 {
    color: black;
}

h2, p {
    color: palevioletred;
}

.coding {
    color: midnightblue;
}

#original {
    color: green;
}

div p {
    color: aquamarine;
}

div#f1 {
    color: gold;
}